.appHeading{
  text-align: center;
  color:cornflowerblue;
  font-family: Arial, Helvetica, sans-serif;
}
.tab {
  padding: 15px; 
  border: transparent;
  box-shadow: 3px 4px 5px grey;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  margin: 20px 5px 20px 5px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  text-align: center;
  margin-top: 20px;
  
}
li{
  list-style: none;
}
.autoSearch{
  width:100px
}